/* -------------------------------------------------------------------------------------------------- */
/* Foundation bug fixes */

a:hover {
    text-decoration: underline;
}

a.button:hover {
    text-decoration: none;
}

.breadcrumbs .current a {
    color: #333333;
}

.breadcrumbs .current a:hover {
    cursor: default;
    text-decoration: none;
}

.table-bordered>tbody>tr>td {
    border: 1px solid #f8f8f8;
}

.table-hover>tbody>tr:hover {
    background-color: #f8f8f8!important;
}

.fieldset {
    padding: 10px;
}

.fieldset legend {
    background-color: transparent;
}

/* -------------------------------------------------------------------------------------------------- */
/* Foundation extends */

@media screen and (min-width: 40em) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}

.row.default-row {
    max-width: 75rem;
}

.row {
    max-width: 100%;
}

table tbody td, table tbody th {
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.button {
    margin-bottom: 0;
}

.breadcrumbs {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 8px;
    margin-top: 10px
}

.tabs-content {
    border: none;
}

.tabs-panel {
    padding: 0;
    border: none;
}

.text-muted {
    color: rgba(0, 0, 0, 0.6);
}

table input, table select {
    margin: 0 !important;
}

.callout.secondary {
    background-color: #fbfbfb;
    border: 1px solid hsla(0, 0%, 4%, 0.1);
}

hr {
    max-width: 100%;
    border-bottom: 1px solid #dcdcdc;
    margin: .7rem auto;
}

/* -------------------------------------------------------------------------------------------------- */
/* Common elements */

/* Blocks */

.info-container {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
}

.info-block {
    max-height: 300px;
}

/* Text modificators */

.info-text {
    font-size: 12px;
}

.text-small {
    font-size: .8em;
}

.text-small pre {
    font-size: .8em;
}

/* Patterns */

.hidden {
    display: none;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.bordered {
    border: 1px solid #c7c7c7;
}

/* Separators */
.separator-10 {
    height: 10px;
}

.separator-15 {
    height: 15px;
}

.separator-20 {
    height: 20px;
}

.separator-30 {
    height: 30px;
}

.separator-50 {
    height: 50px;
}

.separator-60 {
    height: 60px;
}

.separator-100 {
    height: 100px;
}

/* Dimensions */

.width-05 {
    width: .5%;
}

.width-1 {
    width: 1%;
}

.width-2 {
    width: 2%;
}

.width-3 {
    width: 3%;
}

.width-5 {
    width: 5%;
}

.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-33 {
    width: 33%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-100 {
    width: 100%;
}

/* Tables */

.table-no-stripe tbody tr:nth-child(even) {
    background-color: transparent;
}

.table-no-border {
    border: none;
}

.table-no-border tbody {
    border: none;
}

.table-no-background {
    background-color: transparent;
}

.table-no-border tbody {
    background-color: transparent;
}

/* -------------------------------------------------------------------------------------------------- */
/* Header */

body {
    background-color: #edf1f2;
}

header {
    display: block;
    padding-top: 10px;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 15px;
    font-weight: 400;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.14);
}

header a {
    color: #0a0a0a;
}

header a:hover {
    color: #0a0a0a;
}

header a #app-logo {
    float: left;
    height: 32px;
    width: 32px;
    background-image: url("../images/ico/logo_2.png");
    margin-top: 8px;
}

header:hover a #app-logo {
    background-image: url("../images/ico/logo_1.png");
}

header a #app-name {
    float: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

header #global-preloader {
    float: left;
    font-size: 12px;
    margin-top: 14px;
    margin-left: 20px;
    vertical-align: baseline;
}

header #global-preloader i {
    float: left;
    font-size: 20px;
}

header #global-preloader span {
    float: left;
    margin-top: 2px;
    margin-left: 4px;
}

header nav {
    float: right;
    margin-top: 13px;
    margin-right: 40px;
}

header nav a {
    margin-right: 20px;
    color: #0a0a0a;
}

#logout-bt {
    float: right;
    margin-top: 15px;
    font-size: 13px;
    color: #909090;
}

/* -------------------------------------------------------------------------------------------------- */
/* Site / Portal */

.site-section {
    width: 100%;
    padding: 2%;
}

.site-section .caption {
    width: 100%;
    text-align: center;
}

.site-section .caption.text-middle-size {
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.slide-1 {
    background-image: url("../images/backgrounds/dark-nebula-29059-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 250px;
    padding-bottom: 250px;
    color: #d8d8d8;
}

.slide-2 {
    background-image: url("../images/backgrounds/planets-animated.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 250px;
    padding-bottom: 250px;
    color: #d8d8d8;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.qa-dashboard-slide-1 {
    background-image: url("../images/backgrounds/dark-nebula-29059-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #d8d8d8;
}

/*.slide-1-1 {
    background-image: url("../images/backgrounds/site-monitoring-online-service-noisy-grid.png");
    background-position: center;
    padding-top: 45px;
}

.slide-1-1 .input-group-label {
    background: rgba(0, 0, 0, 0.1);
    font-size: 1.4em;
}

.slide-2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.slide-3 {
    padding-top: 50px;
    padding-bottom: 50px;

    background-image: url("../images/backgrounds/site-monitoring-online-service-squairy-pattern.png");
    background-position: center;
}

.slide-3 ul li {
    margin-bottom: 10px;
}

.slide-4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.slide-5 {
    padding: 0;
    color: #d8d8d8;
    background-image: url("../images/backgrounds/bg-fp-testinomial.jpg");
    background-position: center;
    background-attachment: fixed;

}

.slide-5 .slide-container {
    padding: 2%;
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: rgba(0,0,0,0.8);
    background-image: url("../images/backgrounds/overlay.png");
    background-attachment: fixed;
} */

/* -------------------------------------------------------------------------------------------------- */
/* Test Flow */
/* -------------------------------------------------------------------------------------------------- */

/* .monitor-container {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
    padding: 10px;
}

.monitor-container > h2 {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.monitor-container > h2 > .monitor-status {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 25px;
}

.monitor-container > h2 > .monitor-status.success {
    background-color: #3adb76;
}

.monitor-container > h2 > .monitor-status.alert {
    background-color: #ec5840;
}

.monitor-container > .monitor-host {
    font-size: 13px;
}

.monitor-container > table {
    margin: 10px 0 0 0;
} */

/* -------------------------------------------------------------------------------------------------- */
/* JMeter Auto */
/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------- */
/* Common */

.top-menu a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-menu .menu-v-separator {
    width: 2px;
    background-color: #d0d3d3;
    padding: 20px 0 20px 0;
    margin: 0 10px 0 10px;
}

.test-app-logo {
    float: left;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    background-image: url("../images/logo/helsi-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

.back-button {
    float: left;
    font-size: 2.5em;
    margin-right: 10px;
    color: rgb(10, 10, 10);
    padding: 6px 10px 6px 10px;
}

.back-button:hover {
    color: rgb(10, 10, 10);
    background-color: rgba(0, 0, 0, .05);
}

.tests-status-icon {
    font-size: 35px;
}

.button-icon {
    font-size: 20px;
    color: #6b6b6b;
    cursor: pointer;
}

.button-icon.inactive {
    color: #aaaaaa;
}

.caption-icon {
    float: left;
    font-size: 2.2rem;
    color: #6b6b6b;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #e6e6e6;
}

.table-menu .active {
    background-color: #f8f8f8 !important;
}

.table-menu tbody {
    border: none;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 15px;
    border-radius: 2px;
}

.application-row {
    height: 43px;
    font-size: 20px;
    background-image: url("../images/backgrounds/stardust.png");
}

.application-row a {
    color: white;
}

.application-row a:hover {
    text-decoration: underline;
}

/* -------------------------------------------------------------------------------------------------- */
/* Reports */

#modal-window {
    position: fixed;
    width: 90%;
    height: 90%;
    background-color: #FFFFFF;
    top: 5%;
    left: 5%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
}

#modal-window-content {
    width: 100%;
    overflow: auto;
    height: 100%;
    font-family: monospace;
    white-space: pre;
}

#modal-window-close-bt {
    width: 100%;
    height: 50px;
    text-align: right;
}

.run-result-table td {
    border: 1px solid #EFEFEF;
}

.run-result-table .total-row {
    background-color: #555555;
    color: #EBEBEB;
    font-weight: bold;
    font-size: 18px;
}

.sample-result-table {
    margin: 0;
    font-size: 14px;
}

.sample-result-table td {
    border: 1px solid #D2D2D2;
    vertical-align: top;
}

.samplers-data {
    float: left;
    white-space: pre-wrap;
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
    word-break: break-word;
    border: 1px solid #D2D2D2;
    padding: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.samplers-data.text-small {
    font-size: 12px;
}

.run-screenshot {
    width: 150px;
    margin: 10px;
    border: 1px solid #D2D2D2;
    cursor: pointer;
}

.run-screenshot.full-screen {
    width: 100%;
}

/* -------------------------------------------------------------------------------------------------- */
/* API Flow */
/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------- */
/* Tests */

.tests-folders-table .tests-tree-table {
    margin: 0;
}

.tests-folders-table .tests-tree-table tr {
    background-color: #f1f1f1;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.tests-folders-table .tests-tree-table tr td {
    word-break: break-all;
}

.tests-folders-table .tests-tree-table tr .label {
    cursor: pointer;
    padding: 3px;
    font-size: 10px;
}

.tests-folders-table .tests-tree-table tr:first-child {
    border-top: none;
}

.tests-folders-table .tests-folders-cell > td {
    -webkit-box-shadow: inset 0px 7px 5px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 7px 5px -3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 7px 5px -3px rgba(0, 0, 0, 0.1);
    padding: 10px 0 10px 0;
}

.tests-folders-table .folder-caption {
    height: 40px;
}

.tests-folders-table .folder-caption:hover {
    background-color: #fbfbfb;
}

.tests-folders-table .folder-caption input {
    height: 28px;
}

.accordion-table > tbody > tr {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.accordion-table > tbody > tr > td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.accordion-table tr:first-child {
    border-top: none;
}