<?php require_once APP_DIR . '/application/views/templates/header.phtml' ?>

    <div class="grid-x grid-padding-x">

        <div class="cell">

            <br>
            <h1><i class="fa fa-tachometer"></i> Dashboard</h1>
            <div class="separator-10"></div>

            <div class="card">

                <h2>Applications</h2>

                <table class="table-no-stripe table-bordered">

                    <tbody>

                    <?php foreach ($applications as $application) { ?>

                        <tr class="bordered application-row">
                            <td>
                                <a href="<?= BASE_PATH ?>/applications/<?= $application->id ?>">
                                    <div class="test-app-logo"></div>
                                    <div>
                                        #<?= $application->id ?>. <?= $application->name ?>
                                    </div>
                                </a>
                            </td>
                            <td class="text-right">
                                <a href="<?= BASE_PATH ?>/applications/<?= $application->id ?>"
                                   class="button small secondary">
                                    View
                                </a>
                                <a href="<?= BASE_PATH ?>/applications/<?= $application->id ?>/robot"
                                   class="button small">
                                   Robot
                                </a>
                            </td>
                        </tr>

                        <tr class="bordered">
                            <td colspan="2">

                                <div class="separator-10"></div>

                                <table class="table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td class="width-2 text-right text-muted">#</td>
                                        <td>Test Projects</td>
                                        <td class="width-33 text-right">Actions</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <?php if (isset($projects[$application->id])) { ?>
                                        <?php foreach ($projects[$application->id] as $file) { ?>
                                            <tr>
                                                <td class="text-right text-muted text-small"><?= $file->id ?></td>
                                                <td>
                                                    <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>"><?= $file->name ?></a>
                                                    <?php if ($file->description != '') {?>
                                                        <div class="text-muted text-small" style="margin-top: 3px;"><?= $file->description ?></div>
                                                    <?php } ?>
                                                </td>
                                                <td class="text-right">
                                                    <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>" class="button small secondary">View</a>
                                                    <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>/reports/last/<?= APP_PUBLIC_KEY ?>" class="button small secondary">Last report</a>
                                                    <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>/perform-run" class="button small success">Run now</a>
                                                    <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>/run" class="button small secondary">Run...</a>
                                                </td>
                                            </tr>
                                        <?php } ?>

                                    <?php } else { ?>
                                        <tr><td colspan="3" class="text-muted">No test projects created.</td></tr>
                                    <?php } ?>

                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    <?php } ?>

                    <?php if (isset($projects[0])) { ?>
                    <tr class="bordered application-row">
                        <td style="color: #b9b9b9;">Without application</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr class="bordered">
                        <td colspan="2">

                            <div class="separator-10"></div>

                            <table class="table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td class="width-2 text-right text-muted">#</td>
                                    <td>Test Projects</td>
                                    <td class="width-33 text-right">Actions</td>
                                </tr>
                                </thead>
                                <tbody>

                                <?php foreach ($projects[0] as $file) { ?>
                                    <tr>
                                        <td class="text-right text-small text-muted"><?= $file->id ?></td>
                                        <td><a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>"><?= $file->name ?></a></td>
                                        <td class="text-right">
                                            <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>" class="button small secondary">View</a>
                                            <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>/reports/last/<?= APP_PUBLIC_KEY ?>" class="button small secondary">Last report</a>
                                            <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>/perform-run" class="button small success">Run now</a>
                                            <a href="<?= BASE_PATH ?>/projects/<?= $file->id ?>/run" class="button small secondary">Run...</a>
                                        </td>
                                    </tr>
                                <?php } ?>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <?php } ?>

                    </tbody>
                </table>

            </div> <!-- .card -->

            <div class="separator-100"></div>

        </div> <!-- .column -->

    </div> <!-- .row -->

<?php require_once APP_DIR . '/application/views/templates/footer.phtml' ?>