<?php require_once APP_DIR . '/application/views/templates/header.phtml' ?>

    <div class="row">
        <div class="column align-self-middle">

            <ul class="breadcrumbs">
                <li><a href="<?= BASE_PATH ?>/dashboard"><i class="fa fa-cubes"></i> Dashboard</a></li>
                <li><a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>"><i class="fa fa-cube"></i> <?= $project->name ?></a></li>
                <li class="current"><a href="#"><i class="fa fa-cogs"></i> Run</a></li>
            </ul>

            <h1><i class="fa fa-cogs"></i> Run: <?= $project->name ?></h1>


            <?php if ($project->description != '') { ?>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <div class="text-small text-muted info-container">
                        <?= $project->description ?>
                    </div>
                </div> <!-- .columns -->
            </div> <!-- .row -->
            <?php } ?>


            <fieldset class="fieldset">
                <legend>Stage:</legend>
                <select id="stages-list">
                    <option value="0" selected>Default values</option>
                    <?php foreach ($stages as $stageId => $stage) { ?>
                        <option value="<?= $stageId ?>" <?= $stage->isDefault == 1 ? 'selected' : ''?>><?= $stage->name ?><?= $stage->isDefault == 1 ? ' (default)' : ''?></option>
                    <?php } ?>
                </select>
            </fieldset> <!-- .fieldset -->

            <div class="row">
                <div class="small-12 large-12 columns">

                    <form action="<?= BASE_PATH ?>/projects/<?= $project->id ?>/perform-run" method="post"
                          enctype="application/x-www-form-urlencoded">

                        <table>
                            <thead>
                            <tr>
                                <td class="width-5">Key</td>
                                <td>Value</td>
                            </tr>
                            </thead>

                            <tbody id="base-tbody">
                                <!-- Form data  from #tbody-for-{stageId} -->
                            </tbody>

                        </table>

                        <input type="hidden" name="stageId" id="stageId" value="">
                        <input type="submit" class="small button" id="submit" value="Run">

                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom hidden" id="submit-preloader"></i>
                        <span class="sr-only">Loading...</span>

                    </form>

                </div> <!-- .columns -->
            </div> <!-- .row -->

        </div>
    </div>

    <!-- Container with data -->
    <table class="hidden">
        <tbody id="tbody-for-0">
        <?php foreach ($projectVariables as $variableKey => $variable) { ?>
            <tr>
                <td class="text-right">
                    <label for="<?= $variableKey ?>"><?= $variableKey ?></label>
                </td>
                <td>
                    <input type="text" name="<?= $variableKey ?>" id="<?= $variableKey ?>" placeholder="<?= $variableKey ?>" value="<?= $variable ?>" style="margin: 0">
                </td>
            </tr>
        <?php } ?>
        </tbody>

        <?php foreach ($stages as $stageId => $stage) { ?>
            <tbody id="tbody-for-<?= $stageId ?>">
            <?php $currentStageVariables = json_decode($stage->fields, TRUE) ?>
            <?php foreach ($projectVariables as $variableKey => $variable) { ?>
                <tr>
                    <td class="text-right">
                        <label for="<?= $variableKey ?>"><?= $variableKey ?></label>
                    </td>
                    <td>
                        <input type="text" name="<?= $variableKey ?>" id="<?= $variableKey ?>" placeholder="<?= $variableKey ?>" value="<?= $currentStageVariables[$variableKey] ?>" style="margin: 0">
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        <?php } ?>
    </table>
    <!-- END Container with data -->

    <div class="separator-100"></div>

    <script>
        function updateForm (stageId) {
            $("#global-preloader").removeClass('hidden');

            var formData = $("#tbody-for-" + stageId).html();
            $("#base-tbody").html(formData);

            $("#global-preloader").addClass('hidden');
        }

        $(function() {
            $("#submit").click(function(event) {
                $(this).addClass("hidden");
                $("#submit-preloader").removeClass("hidden");
                $("#global-preloader").removeClass('hidden');
            });

            updateForm($("#stages-list").val());
            $("#stages-list").change(function () {
                updateForm($(this).val());
            });

            $("#stageId").val($("#stages-list").val());

            $("#stages-list").change(function(event) {
                $("#stageId").val($(this).val());
            });
        });
    </script>

<?php require_once APP_DIR . '/application/views/templates/footer.phtml' ?>