<?php require_once APP_DIR . '/application/views/templates/header.phtml' ?>

    <div class="grid-x grid-padding-x">
        <div class="cell">

            <ul class="breadcrumbs">
                <li><a href="<?= BASE_PATH ?>/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                <li><a href="<?= BASE_PATH ?>/applications/<?= $application->id ?>"><i class="fa fa-cubes"></i> App: <?= $application->name ?></a></li>
                <li><a href="<?= BASE_PATH ?>/applications/<?= $application->id ?>/test-projects"><i class="fa fa-cube"></i> Test projects</a></li>
                <li class="current"><a href="#"><?= $project->name ?></a></li>
            </ul>

            <div class="grid-x grid-padding-x">

                <div class="small-8 large-8 cell">
                    <a href="<?= BASE_PATH ?>/applications/<?= $application->id ?>/test-projects" class="back-button"><i class="fa fa-angle-left"></i></a>
                    <h1><i class="fa fa-cube"></i> <?= $project->name ?></h1>
                </div> <!-- .cell -->

                <div class="small-4 large-4 cell text-right">
                    <div style="margin-top: 15px;">
                        <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/edit"
                           class="button small secondary">Edit</a>
                    </div>
                </div>  <!-- .cell -->

                <?php if ($project->description != '') { ?>
                    <div class="small-12 large-12 cell">
                        <div class="text-small text-muted info-container">
                            <?= $project->description ?>
                        </div>
                    </div> <!-- .cell -->
                <?php } ?>

                <div class="small-12 large-12 cell top-menu">
                    <hr>

                    <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/dashboard"
                       class="button small secondary disabled">Dashboard</a>
                    <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/reports/last/<?= APP_PUBLIC_KEY ?>"
                       class="button small secondary">Last report</a>
                    <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/stages"
                       class="button small secondary">Stages</a>

                    <?php if (isset($defaultStage->name)) { ?>
                        <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/perform-run"
                           class="button small" id="run-now-bt">Run now (<?= $defaultStage->name ?>)</a>
                    <?php } else { ?>
                        <a href="#"
                           class="button small disabled" id="run-now-bt">Run now (Default stage not set)</a>
                    <?php } ?>

                    <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/run"
                       class="button small">Run...</a>

                    <hr>
                </div> <!-- .cell -->

            </div> <!-- .grid-x -->

            <h2>Reports</h2>

            <div class="card">

                <table>

                    <thead>
                    <tr>
                        <td class="width-3 text-right">#</td>
                        <td class="width-5">Status</td>
                        <td class="width-10">Statistic</td>
                        <td>Name</td>
                        <td>

                            <div class="grid-x grid-padding-x">

                                <div class="small-2 large-2 cell">
                                    <div style="margin-top: 10px">Stage</div>
                                </div> <!-- .cell -->

                                <!-- Stages filter -->
                                <div class="small-10 large-10 cell">
                                    <select id="stages-list">
                                        <option value="-1" selected>All stages</option>
                                        <option value="0" <?= isset($_GET['stage']) && $_GET['stage'] == 0 ? 'selected' : '' ?>>Without specified stage</option>
                                        <?php foreach ($stages as $stageId => $stage) { ?>
                                            <option value="<?= $stageId ?>" <?= isset($_GET['stage']) && $_GET['stage'] == $stageId ? 'selected' : '' ?>><?= $stage->name ?><?= $stage->isDefault == 1 ? ' (default)' : ''?></option>
                                        <?php } ?>
                                    </select>
                                </div> <!-- .cell -->
                                <!-- END Stages filter -->

                            </div> <!-- .grid-x -->

                        </td>
                        <td width="15%">Date</td>
                        <td class="width-15 text-right">Actions</td>
                    </tr>
                    </thead>

                    <tbody>
                    <?php foreach ($runs as $run) { ?>
                        <tr <?= $run->status == 2 ? 'style="background-color: rgba(255, 0, 0, .1)"' : '' ?>>
                            <td class="text-right text-muted text-small"><?= $run->id ?></td>
                            <td class="text-center">
                                <?= $run->status == 1 ? '<div class="success label" style="width: 100%">pass</div>' : '<div class="alert label" style="width: 100%">fail</div>' ?>
                            </td>
                            <td style="opacity: .7">
                                <?php if (isset($runsStatistic[$run->id])) { ?>
                                    <div class="label info"><?= $runsStatistic[$run->id]['all'] ?></div>
                                    <div class="label <?= $runsStatistic[$run->id]['pass'] > 0 ? 'success' : 'secondary'?>"><?= $runsStatistic[$run->id]['pass'] ?></div>
                                    <div class="label <?= $runsStatistic[$run->id]['fail'] > 0 ? 'alert' : 'secondary'?>"><?= $runsStatistic[$run->id]['fail'] ?></div>
                                <?php } ?>
                            </td>
                            <td>
                                <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/reports/<?= $run->id ?>"><?= $run->name ?></a>
                            </td>
                            <td class="text-muted">
                                <?= isset($stages[$run->stageId]) ? "<a href='" . BASE_PATH . "/projects/{$project->id}/stages/{$run->stageId}' target='_blank'>" . $stages[$run->stageId]->name . '</a>' : 'n/a' ?>
                            </td>
                            <td class="text-muted text-small">
                                <?= date('D d-m-Y H:i:s', strtotime($run->dCreate)) ?>
                            </td>
                            <td class="text-right">
                                <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/reports/<?= $run->id ?>"
                                   class="secondary small button">View</a>
                            </td>
                        </tr>
                    <?php } ?>
                    </tbody>

                </table>

            </div> <!-- .card -->

        </div>
    </div>

    <div class="separator-100"></div>

    <!-- Scripts -->

    <script>
        $(function () {
            // Reports List
            $("#stages-list").change(function () {
                $("#global-preloader").removeClass('hidden');
                window.location.href = "<?= BASE_URL . BASE_PATH . '/projects/' . $project->id . '?stage=' ?>" + $(this).val();
            });

            // Stages
            $("input[name=group1]:radio").change(function () {
                $.ajax({
                        method: "POST",
                        url: "<?= BASE_PATH ?>/projects/<?= $project->id ?>/stages/" + $(this).val() + "/set-default",
                        data: {}
                    })
                    .done(function (msg) {
                    });
            });

            $("#run-now-bt").click(function () {
                $("#global-preloader").removeClass('hidden');
            });
        });
    </script>

<?php require_once APP_DIR . '/application/views/templates/footer.phtml' ?>