<?php require_once APP_DIR . '/application/views/templates/header.phtml' ?>

    <div class="grid-x grid-padding-x">
        <div class="cell">

            <?php if (isset($reportMode) && $reportMode == 'AppView') { ?>
                <ul class="breadcrumbs">
                    <li><a href="<?= BASE_PATH ?>/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                    <li><a href="<?= BASE_PATH ?>/applications/<?= $application->id  ?>"><i class="fa fa-cubes"></i> App: <?= $application->name  ?></a></li>
                    <li><a href="<?= BASE_PATH ?>/applications/<?= $application->id  ?>/runs/<?= $appRun->id ?>"><i class="fa fa-file-text"></i> #<?= $appRun->id ?>. Run</a></li>
                    <li class="current"><a href="#">#<?= $report->id ?> <?= $report->name ?></a></li>
                </ul>
            <?php } else { ?>
                <ul class="breadcrumbs">
                    <li><a href="<?= BASE_PATH ?>/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                    <li><a href="<?= BASE_PATH ?>/applications/<?= $application->id ?>"><i class="fa fa-cubes"></i> App: <?= $application->name ?></a></li>
                    <li><a href="<?= BASE_PATH ?>/applications/<?= $application->id ?>/test-projects"><i class="fa fa-cube"></i> Test projects</a></li>
                    <li><a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>"><i class="fa fa-cube"></i> <?= $project->name ?></a></li>
                    <li class="current"><a href="#"><?= $report->name ?></a></li>
                </ul>
            <?php } ?>

            <div class="grid-x grid-padding-x">

                <div class="small-3 large-3 cell">

                    <div class="card">
                        <table class="text-center align-center" style="margin: 0; margin-top: -5px">
                            <thead>
                            <tr>
                                <td class="text-center width-33">All</td>
                                <td class="text-center width-33">Pass</td>
                                <td class="text-center">Fails</td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><?= $summaryReport['Total']->samples ?></td>
                                <td style="background-color: rgba(0, 255, 0, 0.4)">
                                    <?=  $summaryReport['Total']->samples - $summaryReport['Total']->errorCount ?>
                                </td>
                                <td <?php if ($summaryReport['Total']->errorCount > 0) { echo 'style="background-color: rgba(255, 0, 0, 0.4)"'; } ?>>
                                    <?= $summaryReport['Total']->errorCount != '' ? $summaryReport['Total']->errorCount : 0 ?>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div> <!-- .cell -->

                <div class="small-9 large-9 cell">
                    <h1>
                        <span class="label secondary" style="font-size: 2.5rem;">#<?= $report->id ?></span> <?= $report->name ?>
                    </h1>
                </div> <!-- .cell -->

            </div> <!-- .grid-x -->

            <hr>

            <div class="card">
                <h2>Summary results</h2>

                <table class="run-result-table" style="margin: 0">

                    <thead>
                    <tr>
                        <td class="width-1 text-right text-muted">#</td>
                        <td>Status</td>
                        <td>Label</td>
                        <td>Samples</td>
                        <td>Average, ms</td>
                        <td>Min, ms</td>
                        <td>Max, ms</td>
                        <td>Error, %</td>
                        <td class="text-right">Action</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr></tr>

                    <tr>
                        <td></td>
                        <td>
                            <select id="status-filter" style="margin: 0;">
                                <option value="all">All</option>
                                <option value="pass">Pass</option>
                                <option value="fail">Fail</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="label-filter" style="margin: 0;" placeholder="Label">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <?php foreach ($summaryReport as $requestLabel => $request) { ?>
                        <?php if ($requestLabel != 'GraphResult' && $requestLabel != 'Total') { ?>
                            <tr>
                                <td class="text-right text-muted text-small"><?= $request->id ?></td>
                                <td class="text-center status-cell">
                                    <?= $request->errorPercent == 0 ? '<div class="success label">pass</div>' : '<div class="alert label">fail</div>' ?>
                                </td>
                                <td class="label-cell"><?= $requestLabel ?></td>
                                <td class="text-right"><?= $request->samples ?></td>
                                <td class="text-right"><?= round($request->averageTime, 2) ?></td>
                                <td class="text-right"><?= $request->minTime ?></td>
                                <td class="text-right"
                                    style="background-color: rgba(255, 0, 0, <?php $opacity = ($request->maxTime / 3000); echo ($request->maxTime < 200 ? 0 : $opacity); ?>);">
                                    <?= $request->maxTime ?>
                                </td>
                                <td class="text-right"><?= round($request->errorPercent, 2) ?>%</td>
                                <td class="text-right">
                                    <a href="" class="secondary small button collapse-bt" data-id="<?= $request->id ?>">Info</a>
                                </td>
                            </tr>

                            <!-- Sample Info -->
                            <tr class="hidden" data-info-id="<?= $request->id ?>">
                                <td></td>
                                <td></td>
                                <td colspan="7">

                                    <?php if (count($samplesData['samples'][$request->id]) > 0) { ?>
                                        <table class="sample-result-table">

                                            <thead>
                                            <tr>
                                                <td style="width: 5%">
                                                    Status
                                                </td>
                                                <td style="width: 5%"></td>
                                                <td style="width: 45%"></td>
                                                <td style="width: 45%"></td>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <?php foreach ($samplesData['samples'][$request->id] as $sampleRequest) { ?>
                                                <tr>
                                                    <td rowspan="5" class="text-center">
                                                        <?= $sampleRequest->status == 1 ? '<div class="success label">pass</div>' : '<div class="alert label">fail</div>' ?>
                                                    </td>
                                                    <td colspan="3">
                                                        <div style="float: left; text-overflow: ellipsis; max-width: 1000px; white-space: nowrap; overflow:hidden !important;">
                                                            <?= $sampleRequest->method ?> <?= $sampleRequest->url ?>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div>Request Body:</div>
                                                        <div class="samplers-data"><?= $sampleRequest->requestBody ?></div>
                                                    </td>
                                                    <td>
                                                        <div>Request headers:</div>
                                                        <div class="samplers-data"><?= $sampleRequest->requestHeaders ?></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        Response time: <strong><?= $sampleRequest->responseTime ?></strong>ms
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Code:
                                                        <?php if ($sampleRequest->responseCode < 300) { ?>
                                                            <div class="success label">
                                                                <?= $sampleRequest->responseCode ?>
                                                            </div>
                                                        <?php } else if ($sampleRequest->responseCode >= 300 && $sampleRequest->responseCode < 400) { ?>
                                                            <div class="info label">
                                                                <?= $sampleRequest->responseCode ?>
                                                            </div>
                                                        <?php } else if ($sampleRequest->responseCode >= 400 && $sampleRequest->responseCode < 500) { ?>
                                                            <div class="warning label">
                                                                <?= $sampleRequest->responseCode ?>
                                                            </div>
                                                        <?php } else if ($sampleRequest->responseCode >= 500) { ?>
                                                            <div class="alert label">
                                                                <?= $sampleRequest->responseCode ?>
                                                            </div>
                                                        <?php } ?>
                                                    </td>
                                                    <td>
                                                        <div>Response Body:</div>
                                                        <div class="samplers-data"><?= htmlentities($sampleRequest->responseBody) ?></div>
                                                    </td>
                                                    <td>
                                                        <div>Response Headers:</div>
                                                        <div class="samplers-data"><?= $sampleRequest->responseHeaders ?></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <div>Error message:</div>
                                                        <?php if ($sampleRequest->errorMessage != '') { ?>
                                                            <div class="samplers-data" style="background-color: rgba(255,0,0,0.2)"><?= $sampleRequest->errorMessage ?></div>
                                                        <?php } else { ?>
                                                            <div class="samplers-data">n/a</div>
                                                        <?php } ?>
                                                    </td>
                                                </tr>
                                            <?php } ?>
                                            </tbody>

                                        </table>
                                    <?php } ?>

                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>

                    <?php $request = $summaryReport['Total'] ?>
                    <tr class="total-row">
                        <td class="text-right"></td>
                        <td class="text-center status-cell">
                            <?= round($request->errorPercent) == 0 ? '<div class="success label">pass</div>' : '<div class="alert label">fail</div>' ?>
                        </td>
                        <td class="label-cell"><?= $request->label ?></td>
                        <td class="text-right"><?= $request->samples ?></td>
                        <td class="text-right"><?= round($request->averageTime, 2) ?></td>
                        <td class="text-right"><?= $request->minTime ?></td>
                        <td class="text-right"
                            style="background-color: rgba(255, 0, 0, <?php $opacity = ($request->maxTime / 3000); echo ($request->maxTime < 200 ? 0 : $opacity); ?>);">
                            <?= $request->maxTime ?>
                        </td>
                        <td class="text-right"><?= round($request->errorPercent, 2) ?>%</td>
                        <td class="text-center"></td>
                    </tr>
                    </tbody>

                </table>
            </div> <!-- .card -->

            <div class="separator-20"></div>

            <div class="grid-x grid-padding-x">

                <div class="small-12 large-8 cell">
                    <div class="card">
                        <h2>Graph results</h2>

                        <div id="container" style="height: 500px; margin: 0 auto; border: 1px solid #dadada;"></div>
                    </div> <!-- .card -->
                </div> <!-- .cell -->

                <div class="small-12 large-4 cell">
                    <div class="card">

                        <div class="grid-x grid-padding-x">

                            <div class="small-6 large-6 cell">
                                <h2>Run config</h2>
                                <div style="margin: -10px 0 20px 0;">

                                    <?php if (isset($reportMode) && $reportMode == 'AppView') { ?>
                                        Stage: <a href="<?= BASE_PATH ?>/applications/<?= $application['id'] ?>/stages/<?= $stage['id'] ?>/edit"><?= $stage['name'] ?></a>
                                    <?php } else { ?>
                                        Stage: <a href="<?= BASE_PATH ?>/projects/<?= $project->id ?>/stages/<?= $stage->id ?>"><?= $stage->name ?></a>
                                    <?php } ?>
                                </div>
                            </div> <!-- .cell -->

                            <div class="small-6 large-6 cell">
                                <div class="text-muted text-small text-right" style="margin: 15px 0 0 0;"><?= date('d-m-Y H:i:s', strtotime($report->dCreate))?></div>
                            </div> <!-- .cell -->

                        </div> <!-- .grid-x -->

                        <table>
                            <thead>
                            <tr>
                                <td class="width-10">Parameter</td>
                                <td>Value</td>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach (json_decode($reportData->exec, TRUE) as $key => $value) { ?>
                                <tr>
                                    <td class="text-right"><i><?= $key ?></i></td>
                                    <td><?= $value ?></td>
                                </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                    </div> <!-- .card -->
                </div> <!-- .cell -->

            </div> <!-- .grid-x -->

            <div class="separator-20"></div>

            <div class="card">
                <h2>Run Log</h2>
                <div style="height: 300px;">
                    <div class="samplers-data text-small"><?= $reportData->consoleOutput ?></div>
                </div>
            </div> <!-- .card -->

            <div class="separator-20"></div>

            <div class="card">
                <h2>Raw report</h2>
                <a href="<?= BASE_PATH ?>/jmeter-src/results/<?= $project->name ?>/<?= $report->name ?>" class="button secondary" target="_blank">Download raw report</a>
            </div> <!-- .card -->

            <div class="separator-100"></div>

        </div>
    </div>

    <script>
        $(function() {
            $(".collapse-bt").click(function(event) {
                event.preventDefault();

                var infoElem = $('table').find("[data-info-id='" + $(this).data('id') + "']");
                infoElem.toggleClass('hidden');
            });

            $( "#status-filter" ).change(function() {
                $(".status-cell").parent().removeClass("hidden");
                if ($(this).val() == "pass") {
                    $(".status-cell:contains('fail')").parent().addClass("hidden");
                } else if ($(this).val() == "fail") {
                    $(".status-cell:contains('pass')").parent().addClass("hidden");
                }
            });

            $( "#label-filter" ).keyup(function() {
                $(".label-cell").parent().addClass("hidden");
                $(".label-cell:contains('" + $(this).val() + "')").parent().removeClass("hidden");
            });
        });
    </script>

    <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '',
                    x: -20 //center
                },
                subtitle: {
                    text: '',
                    x: -20
                },
                xAxis: {
                    categories: [],
                    title: {
                        text: 'Samples'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Response time, ms'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ''
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [
                    {
                        name: 'Response time',
                        data: [
                            <?= implode(",", $samplesData['samplesResponsesTimeList']) ?>
                        ]
                    },
                    {
                        name: 'Average time',
                        data: [
                            <?php $len = count($samplesData['samplesResponsesTimeList']); for ($i = 0; $i < $len; $i++) { echo $summaryReport['Total']->averageTime . ','; } ?>
                        ]
                    }
                ]
            });
        });
    </script>

    <?php // TODO Move to vendors ?>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

<?php require_once APP_DIR . '/application/views/templates/footer.phtml' ?>