<!-- Foundation -->
<script src="<?= BASE_PATH ?>/vendor/zurb/foundation/dist/js/foundation.min.js"></script>
<script>
     $(document).foundation();
</script>

<!-- Include page scripts -->
<?php if (isset($scripts)) { ?>
    <?php foreach ($scripts as $script) { ?>
        <script src="<?= BASE_PATH ?>/public/js/<?= $script ?>"></script>
    <?php } ?>
<?php } ?>

</body>
</html>