<html>
<head>
    <meta charset="utf-8"/>

    <title>Test Flow | Test Automation Platform</title>

    <link rel="icon" href="<?= BASE_PATH ?>/public/images/logo/qa-even-logo.jpg">

    <!-- Foundation -->
    <link href="<?= BASE_PATH ?>/vendor/zurb/foundation/dist/css/foundation.min.css" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="<?= BASE_PATH ?>/vendor/driftyco/ionicons/css/ionicons.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="<?= BASE_PATH ?>/vendor/components/font-awesome/css/font-awesome.min.css">

    <!-- App Styles -->
    <link href="<?= BASE_PATH ?>/public/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="<?= BASE_PATH ?>/vendor/components/jquery/jquery.min.js"></script>
</head>

<header>

    <div class="grid-x grid-padding-x">

        <div class="cell">

            <!-- Logo -->
            <a href="<?= ROOT_PATH ?>">

                <div id="app-logo"></div>

                <div id="app-name">Test Flow</div>

                <div id="global-preloader" class="hidden">
                    <i class="fa fa-spinner fa-pulse fa-fw margin-bottom"></i> <span>PROCESSING</span>
                </div>

            </a>
            <!-- END Logo -->

            <!-- Main Menu -->
            <?php if (isset($_SESSION['Auth_Auto_App_Status']) && $_SESSION['Auth_Auto_App_Status'] != '') { ?>
                <a href="<?= BASE_PATH ?>/auth/logout" id="logout-bt">
                    <i class="ion-log-out"></i> logout
                </a>

                <nav>
                    <a href="<?= BASE_PATH ?>/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a>
                    <a href="<?= BASE_PATH ?>/users/my-profile"><i class="fa fa-user-circle-o"></i> <?= $_SESSION['Auth_Auto_App_User']['login'] ?></a>
                </nav>
            <?php } else { ?>
                <nav>
                    <a href="">About</a>
                    <a href="">|</a>
                    <a href="<?= BASE_PATH ?>/auth/sign-up">Sign Up</a>
                    <a href="<?= BASE_PATH ?>/auth/login" class="button small secondary" style="margin: -5px">Sign In</a>
                </nav>
            <?php } ?>
            <!-- END Main Menu -->

        </div> <!-- .cell -->

    </div> <!-- .grid-x -->

</header>

<body>