<?php require_once APP_DIR . '/application/views/templates/header.phtml' ?>

    <div class="row">
        <div class="column align-self-middle">

            <div class="row">

                <div class="small-12 medium-1 large-1 columns">
                    &nbsp;
                </div>

                <div class="small-12 medium-8 large-4 columns end">

                    <div class="separator-20"></div>

                    <div class="login-container">
                        <h1>Login</h1>

                        <form enctype="application/x-www-form-urlencoded" method="post">
                            <label for="login">E-mail</label>
                            <input type="text" placeholder="E-mail" name="login" id="login"/>

                            <label for="password">Password</label>
                            <input type="password" placeholder="password" name="password" id="password"/>

                            <input class="secondary button" type="submit" value="Login">
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

<style>
    #logout-bt, nav {
        display: none;
    }

    body {
        background-image: url("<?= BASE_PATH ?>/public/images/backgrounds/login.jpg");
        background-position: center;
        background-size: cover;
    }

    header {
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 20px;

        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 29%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }

    .login-container{
        background-color: rgba(255, 255, 255, .8);
        padding: 20px;
        padding-bottom: 30px;
    }

</style>

<?php require_once APP_DIR . '/application/views/templates/footer.phtml' ?>